<div class="container text-right">
   <a href="https://www.unilu.ch/en/">Universität Luzern</a>  |
   <a href="https://www.unilu.ch/en/">Anmelden</a> |
   <a href="https://www.unilu.ch/en/">Kontakt</a>
</div>


<div class="container bg-logo">

  <div class="row">
    <div class="col-6">
        <%= image_tag("ousia-owl.png", class: "my-2") %>
        <%#= image_tag("ousia-owl.png"), class:"img_preview" %>
    </div>



    <div class="col-6 center-items">
        <button type="button" class="btn btn-primary mr-2">About</button>
        <button type="button" class="btn btn-primary multilinebutton">Account erstellen oder anmelden</button>
    </div>

  </div>
</div>

<div class="container my-2 bg-red">
</div>

<div class="container bg-gray">
  <div class="row">
    <div class="col-6 text-center">
      <h1>Eine Interaktive Lernumgebung</h1>
      <p>Kurse, Seminare und Prüfungen</p>
    </div>

    <div class="col-6 p-2">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L9AkpdVtK9A" allowfullscreen></iframe>
      </div>

    </div>

  </div>


</div>

<div class="container bg-logo" style="height:100px;display:flex;justify-content:flex-end;align-items:center;">
  Text Content
</div>

<div class="container-fluid bg-red">
  ...
</div>
